@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/theme.css";
@import "tailwindcss/utilities";


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.react-multi-carousel-item {
  display:flex;
  align-items: center;
}

.footer
{
  background-image: url('/footer-image.jpeg');
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--slider-width) * -1);
  }
}

@keyframes reversePlay {
  from {
    left: calc(var(--slider-width) * -1);
  }
  to {
    left: 100%;
  }
}